In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
file = "Resources/merged_data_4.csv"

# Read our Crowdfunding data into pandas
df = pd.read_csv(file)
df.head()

,Title,Release Date,Team,Rating,Number of Reviews,Plays,Playing,rank,platform,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,17K,3.8K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,21K,3.2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,30K,2.5K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,28K,679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,21K,2.4K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Get a list of all of our columns for easy reference
df.columns

Index(['Title', 'Release Date', 'Team', 'Rating', 'Number of Reviews', 'Plays',
       'Playing', 'rank', 'platform', 'genre', 'publisher', 'na_sales',
       'eu_sales', 'jp_sales', 'other_sales', 'global_sales'],
      dtype='object')

In [38]:
df_reduced = df.drop(['Title', 'Release Date', 'Team', 'Rating', 'Number of Reviews', 'Plays', 'Playing', 'publisher', 'na_sales', 'eu_sales', 'jp_sales', 'other_sales'], axis=1)

# get unique list of genres
genres = df_reduced['genre'].unique()
print(sorted(genres))

df_reduced.head()

['Action', 'Adventure', 'Fighting', 'Misc', 'Platform', 'Puzzle', 'Racing', 'Role-Playing', 'Shooter', 'Simulation', 'Sports', 'Strategy']

      rank platform    genre  global_sales
5     73.0     X360     Misc          9.20
12   246.0      PS2   Action          4.45
13   791.0     X360  Shooter          2.10
14   662.0      PS4   Action          2.38
22  1293.0      PS3   Action          1.47

In [42]:
for genre in genres:
    # get the value in genre corresponding to the row with the maximum value in rank 
    max_sales = df_reduced.loc[df['genre'] == genre, 'global_sales'].max()
    
    # get the platform and sales for the max ranked genre
    plat = df.loc[(df['genre'] == genre) & (df['global_sales'] == max_sales), 'platform'].values[0]
    # sales = df.loc[(df['genre'] == genre) & (df['rank'] == max_val), 'global_sales'].values[0]
    
    print(f"Genre: {genre}, Platform: {plat}, Sales: {max_sales}")

Genre: Misc, Platform: X360, Sales: 9.2
Genre: Action, Platform: PS3, Sales: 21.4
Genre: Shooter, Platform: X360, Sales: 14.76
Genre: Role-Playing, Platform: PS, Sales: 9.72
Genre: Platform, Platform: NES, Sales: 40.24
Genre: Adventure, Platform: X360, Sales: 5.55
Genre: Sports, Platform: Wii, Sales: 82.74
Genre: Racing, Platform: Wii, Sales: 35.82
Genre: Strategy, Platform: PC, Sales: 1.69
Genre: Puzzle, Platform: GB, Sales: 30.26
Genre: Simulation, Platform: 3DS, Sales: 9.09
Genre: Fighting, Platform: Wii, Sales: 13.04